#root {
  font-family: 'Raleway', sans-serif;
  width:auto;
}
h1 {
  font-weight: bolder;
}
img{
  border-radius: 50%;
  
  
}
.button{
  cursor: pointer;
  width: 35px;
  padding: 3px;
  margin-top: 10px;
}
.tag{
  text-align: center;
  width: 120px;
  margin-left: 15px;
  border-radius: 8%;
  background-color: rgb(206, 211, 214);
  padding: 8px;

  
}
.input{
  border-style: none;
  border-bottom-style: solid ;
}
